<div class="row">
  <div class="small-12 columns">
	<% flash.each do |message_type, message| %>
	  <div data-alert class="alert-box <%= message_type %> radius">
		<%= message %>
		<a href="#" class="close">&times;</a>
	  </div>
	<% end %>
  </div>
</div>
