<% if @post.errors.full_messages.any? %>
  <ul class="error_explanation">
	<% @post.errors.full_messages.each do |message, message_type| %>
	  <li>
		<div data-alert class="alert-box alert radius">
		  <%= message %>
		  <a href="#" class="close">&times;</a>
		</div>
	  </li>
	<% end %>
  </ul>
<% end %>
<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>

  <%= f.label :tag_list %>
  <%= f.text_field :tag_list, class: 'form-control' %>

  <%= f.label :body %>
  <%= f.text_area :body, class: 'form-control', rows: 50 %>


  <%= f.check_box :draft %>
  <%= f.label :draft %>

  <br />
  <%= f.submit "Create post", class: 'button radius info' %>
<% end %>
