<div class="panel radius">
  <div class="post-title">
	<h1>
	  <%= post.title %>
	</h1>
	<small class="really-small">
	  <span class='glyphicon glyphicon-time'></span> <%= post.created_at.strftime("%A, %d %b %Y %l:%M %p")%>.
	</small>
	<br />
	<small class="really-small">
	  <% post.tag_list.each do |tag_name| %>
		<code>
		  <%= tag_name %>
		</code>
	  <% end %>
	</small>
  </div>
  <br />
  <%=raw post.body %>
</div>
