<div class="row">
  <div class="small-9 columns">
	<%= render @posts %>
  </div>
  <div class='small-3 columns'>
	<div class='panel radius'>
	  <% @tags.each do |tag_name| %>
		<h4>
		  <a href='#'><%= tag_name.title %></a>
		</h4>
	  <% end %>
	</div>
  </div>
</div>
