<div class="row">
  <div class="small-12 columns">
	<div class="post-title">
	  <h1 class="text-info">
		<%= @post.title %>
	  </h1>
	  <small>
		<span class='glyphicon glyphicon-time'></span> <%= @post.created_at.strftime("%A, %d %b %Y %l:%M %p")%>
	  </small>
	</div>

	<div class="post-content">
	  <%=raw @post.body %>
	</div>
	<%= @post.tag_list %>
  </div>
</div>
