@import "bootstrap";
@import "bootstrap-sprockets";

/********************/
/*     Top bar     */
/******************/
@media only screen and (min-width: 40.063em) { 
  .logo-wrapper {
	position: relative;
  }
  .logo-wrapper .logo {
	width: 92px;
	height:  92px;
	position: absolute;
	left: 50%;
	right: 50%;
	top: -2px;
	margin-left: -46px;
  }
  // Right part
  .top-bar-section ul.right {
	width: 50%;
	padding-left: 60px;
  }
  .top-bar-section ul.right button {
	float:  left;
  }
  // Left part
  .top-bar-section ul.left {
	width:  50%;
	padding-right: 60px;
  }
  .top-bar-section ul.left button {
	float:  right;
  }
  .block{
	position: absolute;
	display: inline;
  }
}

/********************/
/*     Footer      */
/******************/
.footer{
  border-top: 1px solid #B8B8B8;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: #E8E8E8;
  a {
	color: $gray;
	&:hover {
	  color: $gray-darker;
	}
  }
  small {
	float: left;
  }
  ul{
	float: right;
	list-style: none;
	li {
	  float: left;
	  margin-left: 15px;
	}
  }
}

/********************/
/*     Extras      */
/******************/
.white-bg{
  background-color: #FFFFFF;
}
.welcome{
  text-align: center;
}
.custom-label{
  $text-size:13px;
}
.error_explanation{
  list-style: none;
}
.no-style{
  text-decoration: none;
}


/********************/
/*     Margins     */
/******************/

.sep-top{
  margin-top: 20px;
}

/***********************/
/*     Typography     */
/*********************/
.really-small{
  font-size: 10px;
  margin-top: 0px;
}
blockquote{
  background-color: #F8F8F8;
  font-color: #707070;
}
