<footer class='footer'>
  <div class="container">
	<p class="text-muted pull-left">
	  © <%= Time.now.year %> Matias Pan. All rights reserved.
	</p>
	<div class='pull-right'>
	  <p class='text-muted'>
		Find me on:
		<a href='#' class="foundation-github"></a>
		<a href='#' class="fc-webicon google"></a>
		<a href='#' class="fc-webicon twitter"></a>
		<a href='#' class="fc-webicon facebook"></a>
	  </p>
	</div>
  </div>
</footer>
