<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar>
	<ul class="title-area">
	  <li class="name">
		<h1><a class="logo show-for-small-only" href="#">Matias Pan</a></h1>
	  </li>
	  <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	</ul>
	<section class="top-bar-section">
	  <div class="logo-wrapper hide-for-small-only">
		<div class="logo">
		  <img src="https://www.codementor.io/assets/tutorial_icon/ruby-on-rails.png">
		</div>
	  </div>
	  <!-- Right Nav Section -->
	  <ul class="right">
		<a href="<%= contact_path %>">
		  <button class="button primary radius">
			Contact
		  </button>
		</a>
		<div class="row">
		  <div class="small-6 columns block">
			<input type="text" placeholder="Search posts">
		  </div>
		  <button class="primary button radius" name="Go" value="Go">Go</button>
		</div>
	  </ul>
	  <!-- Left Nav Section -->
	  <ul class="left">
		<%# <li><a href="#">About</a></li> %>
		<a href="<%= about_path %>">
		  <button class="button primary radius">
			About
		  </button>
		</a>
	  </ul>
	</section>
  </nav>
</div><!-- /navigation -->
